
:root {
  --app-width: 92vw;
  --app-bgA : #fff;
  --app-bgB : dodgerblue;
  --app-bgC : #f1f1f1;
  --app-clA : rgba(0,0,0,0.9);
  --app-clB : white;
}


body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height:100vh;
  background-color: var(--app-bgA);
  overflow-x: hidden;
}

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  outline:none;
  border:none;
  font-family: 'nunito', sans-serif;
}

@font-face {
  font-family:'tajawal' ;
  font-style: normal;
  font-weight: 800;
  src: local('tajawal'),local('Tajawal-ExtraBold'),url(./assets/fonts/Tajawal-ExtraBold.ttf)format('truetype');
}

@font-face {
  font-family:'nunito' ;
  font-style: normal;
  font-weight: 500;
  src: local('nunito'),local('Nunito-Regular'),url(./assets/fonts/Nunito-Regular.ttf)format('truetype');
}

@font-face {
  font-family:'interbold' ;
  font-style: normal;
  font-weight: 800;
  src: local('montserrat-extrabold'),local('Montserrat-ExtraBold'),url(./assets/fonts/Montserrat-ExtraBold.ttf)format('truetype');
}

.app-container-fit {
  width: var(--app-width);
  margin: auto;
  background: transparent;
}
.app-header-a {
  position:fixed;
  width: 100%;
  padding:10px 0px;
  top:0;
  left:0;
  right:0;
  background-color: var(--app-bgA);
  z-index: 3;
}
.app-header-a section {
  width: var(--app-width);
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--app-clA);
}
.app-header-a-navlists {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
  color: var(--app-clA);
}
.app-header-a-navlists li:hover{
  font-weight: 700;
  transition: 0.1s ease;
}
.app-afterHeader {
  margin-top: 10vh;
}




.app-hero-container-b {
  width: 92vw;
  margin-top: 10vh;
  display:flex;
  flex-direction: column;
}
.app-hero-container-b h1 {
  margin-top: 5vh;
  font-size: 35px;
  color: var(--app-clA);
  text-align: center;
  font-family: 'tajawal', sans-serif;
}
.app-hero-cta-b {
  margin-top: 3vh;
  gap:0.5rem;
  color: var(--app-clA);
  text-align: center;
  padding:1px 5px;
}
.app-hero-cta-b button:first-child {
  background-color: var(--app-bgB);
  color: var(--app-clB);
  margin-right: 0.4rem;
}
.app-hero-cta-b button {
  background-color: var(--app-bgC);
  color: var(--app-clA);
  padding:13px;
  cursor:pointer;
  border-radius:8px;
  display: block;
  margin:auto;
  margin-bottom: 1rem;
}
.app-hero-cta-b button:hover {
  border:2px solid var(--app-bgB);
  transition: 0.1s ease;
}
.app-hero-containerB div img {
  margin-top: 7vh;
}

.app-hero-cta-flex button {
  width:auto;
  display: inline-block;
}

.app-about-body {
  padding: 4vh 2.5vh;
  /* padding-bottom: 0vh;  */
  overflow: hidden;
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--app-bgC);
  margin-top: 10vh;
  gap: 4vh;
  width: 100%;
}
.app-about-container {
  background-color: var(--app-bgA);
  padding:15px;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app-about-container h2 {
  color: var(--app-clA);
  font-family: 'interbold', sans-serif;
}
.app-about-container img {
  width: 250px;
  display:block;
  margin:auto;
}
.app-about-container p {
  padding:10px;
  padding-left: 0px;
  color: var(--app-clA);
  opacity: 0.9;
}

.app-card {
  background: transparent;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px;
  color: var(--app-clA);
}
.app-card h2 {
  font-family: 'tajawal', sans-serif;
  background-color: var(--app-bgC);
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.app-developers {
  background-color: var(--app-bgB);
  color: white;
  margin-top: 7vh;
  display:flex;
  padding: 5vh 2vh;
  align-items: center; 
  flex-direction: column;
}
.app-developers h1 {
  font-family: 'interbold', sans-serif;
  font-size: 35px;
  text-align: center;
}
.app-developers img {
  width: 280px;
  display: block;
  margin: auto;
}


.app-feedbacks {
  margin-top: 7vh;
}
.app-feedbacks h2 {
  font-family: 'interbold', sans-serif;
  color: var(--app-clA)
}
.app-feedbacks-cardbody {
  padding:10px;
  padding: 4vh 2.5vh;
  white-space: nowrap;
  background-color: transparent;
  margin-top: 18vh;
  width: auto;
  animation: move 20s linear infinite;
  scrollbar-width: none;
  -ms-overflow-style:none;
}
#app-feedback-s {
  scrollbar-width: none;
  -ms-overflow-style:none;
}
.app-feedbacks-cardbody::-webkit-scrollbar , #app-feedback-s::-webkit-scrollbar,.display-resboard::-webkit-scrollbar {
  display: none;
}
.app-feedbacks-card {
  background-color: var(--app-bgA);
  padding:15px;
  border-radius: 15px;
  display: inline-flex;
  overflow: auto;
  white-space: wrap;
  flex-direction: column;
}
@keyframes move {
   0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}
.app-feedbacks-card h3 {
  text-align: left;
  color: var(--app-clA);
  font-family: 'interbold', sans-serif;
}

.app-feedbacks-card span {
  text-align: left;
  color: var(--app-clA);
  font-family: 'nunito', sans-serif;
  margin-top: 1vh;
}

.app-footer-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--app-bgC);
}
.app-footer-b-container {
  justify-content: center;
}
.app-footer-b-container ol {
  display: inline-block;
  padding:10px;
}
.app-footer-container ol li , .app-footer-container li {
  list-style-type: none;
  padding:10px;
  font-size:14px;
}
.app-footer-container ol li a, .app-footer-container li a {
  text-decoration: none;
  color:var(--app-clA);
  font-size:14px;
}
.app-footer-container ol li a:hover, .app-footer-container li a:hover {
  font-weight: 700;
  transition: 0.1s ease;
}
.app-footer-container ol li:first-child {
  font-weight: 700;
  color:var(--app-clA);
}


.display-body {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.display-container {
  background-color: var(--app-bgA);
  width: 93%;
  height:70vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 15px;
  animation:0.2s scale forwards;
  box-shadow: -3px 3px 2px rgba(100,100,100,0.2);
}
@keyframes scale {
  from {scale:0}
  to {scale:1}
}
.display-container h2 {
  font-family: 'interbold', sans-serif;
  color: var(--app-clA);
  margin-top: 5vh;
}
#display-cancelbtn {
  color: var(--app-clA);
}
.display-resboard {
  background-color: transparent;
  padding:10px;
  width: 100%;
  font-family: 'nunito', sans-serif;
  color: var(--app-clA);
  margin-bottom: 4vh;
  font-size: 15px;
  overflow: scroll;
  white-space: wrap;
  transition: 0.2s ease;
  scrollbar-width: none;
  -ms-overflow-style:none;
}
#display-resarr {
  padding: 3px;
  width: 5px;
  height: 15px;
  background-color: var(--app-bgC);
  animation: 0.4s opacity linear infinite;
}

@keyframes opacity {
  from {opacity:0}
  to {opacity:1}
}
#display-rtn {
  font-family: 'interbold',sans-serif;
}
.display-textarea {
  background-color: var(--app-bgC);
  padding:10px;
  width: 100%;
  resize: none;
  font-family: 'nunito', sans-serif;
  color: var(--app-clA);
  transition: 0.2s ease;
}
.display-cta {
  background-color: var(--app-bgB);
  cursor: pointer;
  padding:15px;
  width: 100%;
  font-family: 'nunito', sans-serif;
  color: var(--app-clB);
}









@media (min-width:700px) {
.app-about-container {
  width: 300px;
  /* height: 400px; */
}

.display-container {
  width: 35%;
  padding:10px;
  height: 85vh;
}

.app-feedbacks-card {
  width:20%;
}

.app-hero-container-b {
  margin-top: 15vh;
}
.app-developers h1, .app-hero-container-b h1 {
  font-size: 45px;
}
.app-developers img {
  width: 320px;
}
.app-hero-cta-stretch button {
  width:40%;
  padding: 15px;
}
.app-nav-container {
  flex-direction: row;
}
.app-nav-nav {
  width: 30%;
  animation: none;
}
.app-nav-content {
  padding-left: 30%;
}
#app-nav-tint {
  display: none;
  width: 0vw;
  height: 0vh;
}
#api {
  font-size: 15px;
}
}

@media (min-width:600px) {
.app-footer-container {
  padding:10px 3rem;
}
#api {
  font-size: 14px;
}
}

@media (min-width:500px) {
.app-footer-container ol {
  margin-right: 10rem;
}
}

.material-widescreensonly {
   display: none;
}

@media (min-width:670px) {
.material-widescreensonly {
   display: flex;
}
.material-mobileonly {
   display: none;
}
}